* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display:flex; flex-direction:column; justify-content:center; 
  height: 100vh; margin:0px auto; align-items:center;}


.doclist {width:300px;}
